.SimplSaving {
    pointer-events: none;
    display: flex;
    align-items: center;  /* Aligns image and text properly */
    text-align: left;
    font-family: "Brush Script MT", monospace;
    font-size: 30px;
    font-weight: 500;
    color: #005a00;
    padding: 0; /* Removes any extra padding */
    margin: 0;  /* Ensures no margin is pushing it away */
}

.SimplSaving img {
    margin-right: 10px; /* Keeps space between image and text */
    margin-left: 0; /* Ensures image starts from the edge */
}

.navbar .container {
    display: flex;

    padding-left: 0; /* Removes any extra padding */
}

.navbar {
    background-color: #bfffbf;
    color: #005a00;
}


.navbar .nav-link {
    color: #005a00;
    align-items: center;
    padding-left: 50px;
}

.navbar .nav-link:hover {
    color: #008000;
}

.Welcome{
    background-color: #80ff80;
    color: #005a00;
    font-family: "Emilys Candy", serif;
    font-weight: bolder;
    font-style: normal;
      
}
.display-5{
font-size: 50px;;
}

.col-md-8{
    font-family: "Delius Swash Caps", serif;
    font-weight: bold;

    font-style: normal;
      
}




